.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.aside {
  width: 100px;
  height: 100%;
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  height: 60px;
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: slategray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
  height: calc(100vh - 160px);
}

.main {
  flex: 1;
  display: flex;
  background-color: moccasin;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.sidebar {
  width: 100px;
  height: 100%;
  background-color: sandybrown;
  display: flex;
  align-items: center;
  justify-content: center;
}
